<div class="small_menu">
    <ul>
    <li><a href="{{ path('card_start') }}">Back to Start</a></li>
    <li><a href="{{ path('card_deck') }}">Show Deck of Cards</a></li>
    <li><a href="{{ path('card_deck_shuffle') }}">Shuffle Deck of Cards</a></li>
    <li><a href="{{ path('card_draw') }}">Draw 1 card</a></li>
    </ul>
</div>