{% extends "base.html.twig" %}

{% block title %}API{% endblock %}

{% block body %}
    <h1>API</h1>
    <p>Här visas länkar till alla api som finns på webbplatsen.</p>
    <ul>
        {% for api in apilist %}
            <li><a href="{{ path(api.routename) }}">{{ api.text }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}